html {
    // 1rem = 10px
    font-size: 62.5%;

    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right bottom, $color-white, $color-primary-light);
    min-height: 100vh;
}

