body {
    display: flex;
    flex-direction: column;
}

.content {
    // Spacing
    width: 60rem;
    margin: 0 auto;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    // Styling
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

.footer {
    margin-top: auto;
    padding: 2.5rem 0;
}
